@charset "utf-8";
/****************************************************
 * filename     :common.css
 * description  :
 * date         :
****************************************************/

*{margin:0; /*padding:0;*/}
html{width:100%; height:100%}
body{position:relative; font-size:13px; font-family:dotum,"돋움",sans-serif,'Arial',"Malgun Gothic","맑은고딕"; color:#666}
body,div,h1,h2,h3,h4,h5,h6,dl,dt,dd,p,form,fieldset,input,table,tr,th,td {margin:0; padding:0}
ul,ol,li {margin:0; /*padding:0*/}
#header .gnb ul,ol,li {margin:0; padding:0}
td {font-size:12px; color:#333}
ul,ol,li{list-style:none}
img, fieldset{border:none; vertical-align:top}
legend, caption{visibility:hidden; overflow:hidden; width:0; height:0; font-size:0; line-height:0}
textarea, button, select, input{vertical-align:middle}
select{padding:3px 2px 3px 3px; border-radius:0; border:1px solid #aaa; font-size:13px; font-family:dotum,"돋움",sans-serif,'Arial',"Malgun Gothic","맑은고딕"; color:#333; vertical-align:middle; height:28px; line-height:22px; min-width:120px}
select:disabled{padding:3px 2px 3px 2px; border-radius:0; border:1px solid #aaa; font-size:13px; font-family:dotum,"돋움",sans-serif,'Arial',"Malgun Gothic","맑은고딕"; color:#999; vertical-align:middle; height:28px; line-height:22px; min-width:120px; background:#f9f9f9}
select[readOnly]{padding:3px 2px 3px 2px; border-radius:0; border:1px solid #aaa; font-size:13px; font-family:dotum,"돋움",sans-serif,'Arial',"Malgun Gothic","맑은고딕"; color:#999; vertical-align:middle; height:28px; line-height:22px; min-width:120px; background:#f9f9f9}
#popup select{min-width:80px}
input{border-radius:0}
input[type="text"],
input[type="submit"],
input[type="password"] {padding:0px 5px 0px 5px; height:26px; line-height:26px; border:1px solid #aaa; font-size:13px; font-family:dotum,"돋움",sans-serif,'Arial',"Malgun Gothic","맑은고딕"; background:#fff;  color:#333; vertical-align:middle}
input[type="text"]:disabled,
input[type="submit"]:disabled,
input[type="password"]:disabled {padding:0px 5px 0px 5px; height:26px; line-height:26px; border:1px solid #ccc; font-size:13px; font-family:dotum,"돋움",sans-serif,'Arial',"Malgun Gothic","맑은고딕"; background:#f9f9f9;  color:#999; vertical-align:middle}
input[type="checkbox"]:disabled,
input[type="radio"]:disabled {padding:0px 5px 0px 5px; height:26px; line-height:26px; border:1px solid #ccc; font-size:13px; font-family:dotum,"돋움",sans-serif,'Arial',"Malgun Gothic","맑은고딕"; background:#fff;  color:#999; vertical-align:middle}
input[type="text"][readOnly],
input[type="submit"][readOnly],
input[type="password"][readOnly] {padding:0px 5px 0px 5px; height:26px; line-height:26px; border:1px solid #ccc; font-size:13px; font-family:dotum,"돋움",sans-serif,'Arial',"Malgun Gothic","맑은고딕"; background:#f9f9f9;  color:#999; vertical-align:middle}
input[type="checkbox"][readOnly],
input[type="checkbox"]:readOnly,
input[type="checkbox"]:readonly,
input[type="radio"][readOnly],
input[type="radio"]:readOnly,
input[type="radio"]:readonly {padding:0px 5px 0px 5px; height:26px; line-height:26px; border:1px solid #ccc; font-size:13px; font-family:dotum,"돋움",sans-serif,'Arial',"Malgun Gothic","맑은고딕"; background:#fff;  color:#999; vertical-align:middle}
.tbl_input_wrap input[type="text"],
.tbl_input_wrap input[type="submit"],
.tbl_input_wrap input[type="password"]{padding:2px 3px 2px 5px; height:19px; line-height:19px; border:1px solid #aaa; font-size:13px; font-family:dotum,"돋움",sans-serif,'Arial',"Malgun Gothic","맑은고딕"; background:#fff;  color:#333; vertical-align:middle}
.tbl_input_wrap input[type="text"]:disabled,
.tbl_input_wrap input[type="submit"]:disabled,
.tbl_input_wrap input[type="password"]:disabled {padding:2px 3px 2px 5px; height:19px; line-height:19px; border:1px solid #aaa; font-size:13px; font-family:dotum,"돋움",sans-serif,'Arial',"Malgun Gothic","맑은고딕"; background:#f9f9f9; color:#999; vertical-align:middle}
.tbl_input_wrap input[type="checkbox"]:disabled,
.tbl_input_wrap input[type="radio"]:disabled {padding:2px 3px 2px 5px; height:19px; line-height:19px; border:1px solid #aaa; font-size:13px; font-family:dotum,"돋움",sans-serif,'Arial',"Malgun Gothic","맑은고딕"; background:#fff; color:#999; vertical-align:middle}
.tbl_input_wrap input[type="text"][readOnly],
.tbl_input_wrap input[type="submit"][readOnly],
.tbl_input_wrap input[type="password"][readOnly] {padding:2px 3px 2px 5px; height:19px; line-height:19px; border:1px solid #aaa; font-size:13px; font-family:dotum,"돋움",sans-serif,'Arial',"Malgun Gothic","맑은고딕"; background:#f9f9f9; color:#999; vertical-align:middle}
.tbl_input_wrap input[type="checkbox"][readOnly],
.tbl_input_wrap input[type="checkbox"]:readOnly,
.tbl_input_wrap input[type="radio"][readOnly],
.tbl_input_wrap input[type="radio"]:readOnly {padding:2px 3px 2px 5px; height:19px; line-height:19px; border:1px solid #aaa; font-size:13px; font-family:dotum,"돋움",sans-serif,'Arial',"Malgun Gothic","맑은고딕"; background:#fff; color:#999; vertical-align:middle}
.tbl_input_wrap select:disabled {background:#f9f9f9; color:#999}
.tbl_input_wrap select[readOnly] {background:#f9f9f9; color:#999}
.tbl_input_wrap textarea:disabled {background:#f9f9f9; color:#999}
.tbl_input_wrap textarea[readOnly] {background:#f9f9f9; color:#999}
.tbl_view_wrap input[type="text"],
.tbl_view_wrap input[type="password"]{padding:2px 3px 2px 5px; height:19px; line-height:19px; border:1px solid #aaa; font-size:13px; font-family:dotum,"돋움",sans-serif,'Arial',"Malgun Gothic","맑은고딕"; background:#fff;  color:#333; vertical-align:middle}
input[type="file"] {padding:0px 5px 0px 10px; height:26px; line-height:26px; border:1px solid #aaa; font-size:13px; font-family:dotum,"돋움",sans-serif,'Arial',"Malgun Gothic","맑은고딕"; background:#fff;  color:#333; vertical-align:middle; min-width:150px}
input[type="file"]:disabled {padding:0px 5px 0px 10px; height:26px; line-height:26px; border:1px solid #ccc; font-size:13px; font-family:dotum,"돋움",sans-serif,'Arial',"Malgun Gothic","맑은고딕"; background:#f9f9f9;  color:#999; vertical-align:middle; min-width:150px}
input[type="file"][readOnly] {padding:0px 5px 0px 10px; height:26px; line-height:26px; border:1px solid #ccc; font-size:13px; font-family:dotum,"돋움",sans-serif,'Arial',"Malgun Gothic","맑은고딕"; background:#f9f9f9;  color:#999; vertical-align:middle; min-width:150px}
input[type="checkbox"] {padding:0; border:0; margin-right:2px}
input[type="image"] {padding:0;  border:0}
option{padding:4px 3px; border-radius:0}
textarea{border-radius:0; padding:3px 3px 3px 5px; border:1px solid #aaa; background:#fff; color:#333; font-size:13px; vertical-align:middle; font-family:dotum,"돋움","Malgun Gothic","맑은고딕",sans-serif; width:99.2%}
textarea:disabled{border-radius:0; padding:3px 3px 3px 5px; border:1px solid #aaa; background:#f9f9f9; color:#999; font-size:13px; vertical-align:middle; font-family:dotum,"돋움","Malgun Gothic","맑은고딕",sans-serif; width:99.2%}
textarea[readOnly]{border-radius:0; padding:3px 3px 3px 5px; border:1px solid #aaa; background:#f9f9f9; color:#999; font-size:13px; vertical-align:middle; font-family:dotum,"돋움","Malgun Gothic","맑은고딕",sans-serif; width:99.2%}
.checkbox{padding:0; border:0}
.disNone{display:none}
a {color:#3396eb; text-decoration:underline}
a:hover, a:focus, a:active{text-decoration:underline}
table{border-collapse:collapse; width:100%; /*margin:0; padding:0*/}
article, aside, hgroup, header, footer, figure, figcaption, nav, section,time, mark, canvas, video, audio, details, summary {display:block}

.hide{padding:0;margin:0;position:absolute;width:0;height:0;line-height:0;font-size:0;overflow:hidden;visibility:hidden}
.ihide{border:none;padding:0;margin:0;position:absolute;width:0;height:0;line-height:0;font-size:0;overflow:hidden;visibility:hidden}
.none {display:none}
.block {display:block}
a.none {display:none !important}
.tbnone{border:none}
 em{color:#f54214; padding-left: 2px;font-weight:normal}
 em.txt{color:#305597;padding-left:2px;font-weight:normal}
 em.tit{color:#305597;padding-left:5px;padding-right:10px;font-weight:normal}
iframe{border:0;margin:0px;padding:0;width:100%;overflow:auto;border:0}
iframe html{background:#fff !important}
.iframe{border:0;margin:0px;padding:0;width:100%;height:224px;overflow:auto;border:0}
.iframe1{border:0;margin:0px;padding:0;width:100%;height:310px;overflow:auto;border:0}
.iframe2{border:0;margin:0px;padding:0;width:100%;height:352px;overflow:auto;border:0}

th.left {text-align:left !important}
th.right {text-align:right !important}
th.center {text-align:center !important}

td.left {text-align:left !important}
td.right {text-align:right !important}
td.center {text-align:center !important}

/* width, height */
.w10p {width:10% !important}
.w15p {width:15% !important}
.w16p {width:16.6666% !important}
.w20p {width:20% !important}
.w25p {width:25% !important}
.w30p {width:30% !important}
.w33p {width:33.3333% !important}
.w34p {width:34% !important}
.w35p {width:35% !important}
.w40p {width:40% !important}
.w45p {width:45% !important}
.w49p {width:49% !important}
.w50p {width:50% !important}
.w55p {width:55% !important}
.w60p {width:60% !important}
.w65p {width:65% !important}
.w64p {width:64% !important}
.w66p {width:66.6666% !important}
.w70p {width:70% !important}
.w75p {width:75% !important} 
.w80p {width:80% !important}
.w83p {width: 83.3333% !important}
.w90p {width:90% !important}
.w100p {width:98.2% !important}
textarea.w100p {width:98.2% !important}
#popup input.w100p {width:95.2% !important}
#popup textarea.w100p {width:95.2% !important}

.w30 {width:30px !important}
.w40 {width:40px !important}
.w45 {width:45px !important}
.w50 {width:50px !important}
.w70 {width:70px !important}
.w80 {width:80px !important}
.w100 {width:100px !important}
.w120 {width:120px !important}
.w130 {width:130px !important}
.w150 {width:150px !important}
.w180 {width:180px !important}
.w190 {width:190px !important}
.w200 {width:200px !important}
.w220 {width:220px !important}
.w250 {width:250px !important}
.w300 {width:300px !important}
.w320 {width:320px !important}
.w350 {width:350px !important}
.w380 {width:380px !important}
.w400 {width:400px !important}
.w500 {width:500px !important}
.w570 {width:570px !important}
.w600 {width:600px !important}
.w680 {width:680px !important}
.w700 {width:700px !important}
.w700 {width:700px !important}
.w800 {width:800px !important}
.w1000 {width:1000px !important}

.h100p {height:100% !important}

.h10 {height:10px !important}
.h15 {height:15px !important}
.h20 {height:20px !important}
.h25 {height:25px !important}
.h30 {height:30px !important}
.h27 {height:27px !important}
.h35 {height:35px !important}
.h40 {height:40px !important}
.h45 {height:45px !important}
.h50 {height:50px !important}
.h55 {height:55px !important}
.h60 {height:60px !important}
.h65 {height:65px !important}
.h70 {height:70px !important}
.h75 {height:75px !important}
.h80 {height:80px !important}
.h85 {height:85px !important}
.h90 {height:90px !important}
.h95 {height:95px !important}
.h100 {height:100px !important}
.h150 {height:150px !important}
.h200 {height:200px !important}
.h250 {height:250px !important}
.h280 {height:280px !important}
.h300 {height:300px !important}
.h330 {height:330px !important}
.h350 {height:350px !important}
.h400 {height:400px !important}
.h420 {height:420px !important}
.h440 {height:440px !important}
.h450 {height:450px !important}
.h480 {height:480px !important}
.h500 {height:500px !important}
.h520 {height:520px !important}
.h550 {height:550px !important}
.h575 {height:575px !important}
.h600 {height:600px !important}
.h610 {height:610px !important}
.h620 {height:620px !important}
.h650 {height:650px !important}
.h655 {height:655px !important}
.h660 {height:660px !important}
.h665 {height:665px !important}
.h670 {height:670px !important}
.h675 {height:675px !important}
.h680 {height:680px !important}
.h685 {height:685px !important}
.h690 {height:690px !important}
.h695 {height:695px !important}
.h700 {height:700px !important}
.h710 {height:710px !important}
.h720 {height:720px !important}
.h730 {height:730px !important}
.h733 {height:733px !important}
.h740 {height:740px !important}
.h750 {height:750px !important}
.h800 {height:800px !important}
.h850 {height:850px !important}

/* padding, margin */
.mg15 {margin:15px !important}
.margin0 {margin:0 !important}
.mt-30 {margin-top:-30px !important}
.mt-10 {margin-top:-10px !important}
.mt-7 {margin-top:-7px !important}
.mt-5 {margin-top:-5px !important}
.mt-2 {margin-top:-2px !important}
.mt-1 {margin-top:-1px !important}
.mt0 {margin-top:0px !important}
.mt2 {margin-top:2px !important}
.mt3 {margin-top:3px !important}
.mt5 {margin-top:5px !important}
.mt6 {margin-top:6px !important}
.mt7 {margin-top:7px !important}
.mt10 {margin-top:10px !important}
.mt15 {margin-top:15px !important}
.mt20 {margin-top:20px !important}
.mt25 {margin-top:25px !important}
.mt30 {margin-top:30px !important}
.mt35 {margin-top:35px !important}
.mt60 {margin-top:60px !important}
.mt70 {margin-top:70px !important}

.ml0 {margin-left:0 !important}
.ml2 {margin-left:2px !important}
.ml3 {margin-left:3px !important}
.ml5 {margin-left:5px !important}
.ml10 {margin-left:10px !important}
.ml15 {margin-left:15px !important}
.ml20 {margin-left:20px !important}
.ml30 {margin-left:30px !important}
.ml40 {margin-left:40px !important}
.ml50 {margin-left:50px !important}
.ml60 {margin-left:60px !important}
.ml90 {margin-left:90px !important}
.ml120 {margin-left:120px !important}
.ml310 {margin-left:310px !important}

.mr0 {margin-right:0 !important}
.mr2 {margin-right:2px !important}
.mr3 {margin-right:3px !important}
.mr5 {margin-right:5px !important}
.mr10 {margin-right:10px !important}
.mr15 {margin-right:15px !important}
.mr20 {margin-right:20px !important}
.mr25 {margin-right:25px !important}
.mr30 {margin-right:30px !important}
.mr35 {margin-right:35px !important}
.mr40 {margin-right:40px !important}
.mr45 {margin-right:45px !important}
.mr50 {margin-right:50px !important}
.mr80 {margin-right:80px !important}
.mr100 {margin-right:100px !important}
.mr120 {margin-right:120px !important}
.mr150 {margin-right:150px !important}

.mb0 {margin-bottom:0px !important}
.mb5 {margin-bottom:5px !important}
.mb2 {margin-bottom:2px !important}
.mb3 {margin-bottom:3px !important}
.mb10 {margin-bottom:10px !important}
.mb15 {margin-bottom:15px !important}
.mb20 {margin-bottom:20px !important}
.mb30 {margin-bottom:30px !important}
.mb100 {margin-bottom:100px !important}

.padding0 {padding:0 !important}
.padding5 {padding:5px !important}
.padding10 {padding:10px !important}
.padding15 {padding:15px !important}
.padding20 {padding:20px !important}

.pt0 {padding-top:0px !important}
.pt4 {padding-top:4px !important}
.pt5 {padding-top:5px !important}
.pt7 {padding-top:7px !important}
.pt10 {padding-top:10px !important}
.pt15 {padding-top:15px !important}
.pt20 {padding-top:20px !important}
.pt30 {padding-top:30px !important}
.pt40 {padding-top:40px !important}
.pt50 {padding-top:50px !important}

.pl0 {padding-left:0 !important}
.pl5 {padding-left:5px !important}
.pl7 {padding-left:7px !important}
.pl10 {padding-left:10px !important}
.pl15 {padding-left:15px !important}
.pl20 {padding-left:20px !important}
.pl30 {padding-left:30px !important}
.pl35 {padding-left:35px !important}
.pl40 {padding-left:40px !important}
.pl50 {padding-left:50px !important}
.pl55 {padding-left:55px !important}
.pl60 {padding-left:60px !important}
.pl70 {padding-left:70px !important}
.pl100 {padding-left:100px !important}
.pl150 {padding-left:150px !important}
.pl200 {padding-left:200px !important}

.pr0 {padding-right:0 !important}
.pr5 {padding-right:5px !important}
.pr7 {padding-right:7px !important}
.pr10 {padding-right:10px !important}
.pr15 {padding-right:15px !important}
.pr20 {padding-right:20px !important}
.pr30 {padding-right:30px !important}
.pr35 {padding-right:35px !important}
.pr50 {padding-right:50px !important}
.pr60 {padding-right:60px !important}
.pr70 {padding-right:70px !important}
.pr75 {padding-right:75px !important}
.pr80 {padding-right:80px !important}
.pr90 {padding-right:90px !important}
.pr95 {padding-right:95px !important}
.pr100 {padding-right:100px !important}
.pr120 {padding-right:120px !important}
.pr130 {padding-right:130px !important}
.pr150 {padding-right:150px !important}
.pr200 {padding-right:200px !important}
.pr300 {padding-right:300px !important}
.pr380 {padding-right:380px !important}

.pb0 {padding-bottom:0 !important}
.pb5 {padding-bottom:5px !important}
.pb7 {padding-bottom:7px !important}
.pb10 {padding-bottom:10px !important}
.pb15 {padding-bottom:15px !important}
.pb20 {padding-bottom:20px !important}

.pt0 {padding-top:0 !important}
.pt5 {padding-top:5px !important}
.pt7 {padding-top:7px !important}
.pt10 {padding-top:10px !important}
.pt15 {padding-top:15px !important}
.pt20 {padding-top:20px !important}

.mp0 {margin:0;padding:0}

/* left, right, top, bottom */
.top0 {top:0 !important} 
.top10 {top:10px !important}
.top15 {top:15px !important}
.top20 {top:20px !important}
.top25 {top:25px !important}
.top30 {top:30px !important}
.top35 {top:35px !important}
.top40 {top:40px !important}
.top42 {top:42px !important}
.top50 {top:50px !important}
.left0 {left:0 !important}
.left10 {left:10px !important}
.left20 {left:20px !important}
.left45 {left:45px !important}
.left50 {left:50px !important}
.left100 {left:100px !important}
.left120 {left:120px !important}
.right0 {right:0 !important}
.right10 {right:10px !important}
.right15 {right:15px !important}
.right20 {right:20px !important}
.right30 {right:30px !important}
.right40 {right:40px !important}
.right50 {right:50px !important}
.right60 {right:60px !important}
.right70 {right:70px !important}
.right100 {right:100px !important}
.bottom0 {bottom:0 !important}
.bottom10 {bottom:10px !important}
.bottom12 {bottom:12px !important}
.bottom15 {bottom:15px !important}
.bottom20 {bottom:20px !important}

/* 간격 */
.mtm2 {margin-top:-2px !important}
.mt0 {margin-top:0px !important}
.mt3 {margin-top:3px !important}
.mt5 {margin-top:5px !important}
.mt7 {margin-top:7px !important}
.mt8 {margin-top:8px !important}
.mt10 {margin-top:10px !important}
.mt12 {margin-top:12px !important}
.mt15 {margin-top:15px !important}
.mt17 {margin-top:17px !important}
.mt18 {margin-top:18px !important}
.mt20 {margin-top:20px !important}
.mt23 {margin-top:23px !important}
.mt25 {margin-top:25px !important}
.mt27 {margin-top:27px !important}
.mt28 {margin-top:28px !important}
.mt30 {margin-top:30px !important}
.mt32 {margin-top:32px !important}
.mt35 {margin-top:35px !important}
.mt38 {margin-top:38px !important}
.mt40 {margin-top:40px !important}
.mt42 {margin-top:42px !important}
.mt45 {margin-top:45px !important}
.mt50 {margin-top:50px !important}
.mt55 {margin-top:55px !important}
.mt60 {margin-top:60px !important} 
.mt62 {margin-top:62px !important} 
.mt65 {margin-top:65px !important} 
.mt70 {margin-top:70px !important}
.mt72 {margin-top:72px !important}
.mt75 {margin-top:75px !important}
.mt80 {margin-top:80px !important}
.mt95 {margin-top:95px !important}
.mt100 {margin-top:100px !important}

.mr5 {margin-right:5px !important}
.mr10 {margin-right:10px !important}
.mr15 {margin-right:15px !important}
.mr20 {margin-right:20px !important}
.mr25 {margin-right:25px !important}
.mr30 {margin-right:30px !important}
.mr50 {margin-right:50px !important}
.mr65 {margin-right:65px !important}
.mr100 {margin-right:100px !important}

.ml5 {margin-left:5px !important}
.ml10 {margin-left:10px !important}
.ml12 {margin-left:12px !important}
.ml15 {margin-left:15px !important}
.ml16 {margin-left:16px !important}
.ml20 {margin-left:20px !important}
.ml30 {margin-left:30px !important}
.ml40 {margin-left:40px !important}
.ml50 {margin-left:50px !important}
.ml65 {margin-left:65px !important}
.ml70 {margin-left:70px !important}
.ml74 {margin-left:74px !important}
.ml75 {margin-left:75px !important}
.ml80 {margin-left:80px !important}
.ml100 {margin-left:100px !important}
.ml110 {margin-left:110px !important}
.ml115 {margin-left:115px !important}
.ml120 {margin-left:120px !important}
.ml60 {margin-left:60px !important}

.mb5 {margin-bottom:5px !important}
.mb10 {margin-bottom:10px !important}
.mb50 {margin-bottom:50px !important}

.pl5 {padding-left:5px !important}
.pl10 {padding-left:10px !important}
.pl15 {padding-left:15px !important}
.pl20 {padding-left:20px !important}
.pl21 {padding-left:21px !important}
.pl115 {padding-left:115px !important}

.pt10 {padding-top:10px !important}

.pb5 {padding-bottom:5px !important}
.pb10 {padding-bottom:10px !important}
.pb15 {padding-bottom:15px !important}
.pb20 {padding-bottom:20px !important}
.pb25 {padding-bottom:25px !important}
.pb50 {padding-bottom:50px !important}

/* 정렬 */
.alignC {text-align:center !important}
.alignR {text-align:right !important}
.aligL {text-align:left !important}

.taC {text-align:center !important}
.taR {text-align:right !important}
.taL {text-align:left !important}

.pBox {position:relative; overflow:hidden; width:100% !important}

.disB {display:block !important}
.disIB {display:inline-block !important}

.overF {overflow:hidden !important}

.blind {position:absolute; top:-50000px; left:-50000px !important}

.fl {float:left !important}
.fr {float:right !important}

.clear {content:""; clear:both; display:block !important}
.clear:after {content:""; clear:both; display:block !important}

.posiR {position:relative !important}

.verT {vertical-align:top !important}

.verM {vertical-align:middle !important}
.verM img {vertical-align:middle !important}
.verM2 {vertical-align:middle !important; margin-top:-2px  !important}
.verM2 img {vertical-align:middle !important; margin-top:-2px  !important}
.verM3 {vertical-align:middle !important; margin-top:-3px  !important}
.verM3 img {vertical-align:middle !important; margin-top:-3px  !important}
.verM4 {vertical-align:middle !important; margin-top:-4px  !important}
.verM4 img {vertical-align:middle !important; margin-top:-4px  !important}

.lLine {border-left:1px solid #ccc !important}
.rLine {border-right:1px solid #ccc !important}

