@charset "utf-8";
/****************************************************
 * filename     :error.css
 * description  :
 * date         :
****************************************************/

 #wrapper.errorMain {background-image:none; background-repeat:repeat-y; padding-left:0; font-family:"Malgun Gothic","맑은고딕",dotum,"돋움",sans-serif,"Arial";}
 #wrapper.errorMain #header {}
 #wrapper.errorMain #header #container {}
 #cBody.errorMain #container {position:relative; padding:23px 25px 26px 25px; width:auto; min-height:auto; height:auto}
 #cBody.errorMain .container.bg {background:#f9f9f9; magin:0 auto}
 #cBody.errorMain .container.bg2 {}
 #wrapper.errorMain .container.bg2 .title {margin-bottom:17px; text-align:left}
 #wrapper.errorMain .title {margin-bottom:17px; text-align:center; margin-top:210px}
 #wrapper.errorMain .title .subject {font-size:23px; font-weight:bold; color:#374b71}
 #wrapper.errorMain .title .description {font-size:23px; font-weight:normal; margin-left:10px; color:#374b71}
 #wrapper.errorMain .title p.text {font-size:19px; font-weight:normal; margin-left:10px; color:#666; margin-top:15px; letter-spacing:-1px}

/* 크롬 핵 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
 #wrapper.errorMain .title p.text {font-size:19px; font-weight:normal; margin-left:10px; color:#666; margin-top:-25px !important; letter-spacing:-1px}
 .container.bg.error .title p.text {font-size:19px; font-weight:normal; margin-left:10px; color:#666; margin-top:-25px !important; letter-spacing:-1px}
}
/* 오페라 핵 */
body:first-of-type #wrapper.errorMain .title p.text {font-size:19px; font-weight:normal; margin-left:10px; color:#666; margin-top:5px; letter-spacing:-1px}
body:first-of-type .container.bg.error .title p.text {font-size:19px; font-weight:normal; margin-left:10px; color:#666; margin-top:5px; letter-spacing:-1px}

 #content-wrapB {position:relative; width:1120px; margin:100px auto; padding-bottom:50px; letter-spacing:0px; overflow:hidden; background-image:url(../images/login/img_logo.png); background-repeat:no-repeat; background-position:top center}
 
  #content-wrapB.errorB {width:500px}

 .login_wrap {width:auto}
 .login_wrap:after {content:"";clear:both;display:block}
 .login_wrap div.error {width:500px; vertical-align:top; float:left}
 
 .login_wrapB {width:auto; padding:0; background:#f9f9f9}
 .login_wrapB:after {content:"";clear:both;display:block}
 .login_wrapB div.error {width:498px; vertical-align:top; float:left; background-image:url(../images/main/bg_error.png); background-repeat:no-repeat; background-position:center 20px}
 
 .error .input_wrap {padding:0 5px 30px 5px; margin-top:50px}
 .error .input_wrap .link {display:block; border-top:1px solid #e5e5e5; margin-top:50px; line-height:45px; text-align:right}

 .error_block {clear:both; margin-bottom:20px}
 .error_block:after {content:""; clear:both; display:block}
 .error_block ul {padding:0}
 .error_block ul li {padding-bottom:15px}
 .error_block ul li:last-child {padding-bottom:20px}
 .error_block ul li input {border:1px solid #ccc; height:35px; width:97%; color:#999; margin:0; padding:0 0 0 10px}
 .error_block .btn {text-align:center; margin-top:80px}
 .error_block button {}
 
 .error_block .link a {text-decoration:none; color:#666}
 .error_block .link a:hover {text-decoration:none; color:#666}

 .error_block .btnError {display:inline-block; background-color:#374a72; background-image:url(../images/main/bg_prepage.png); background-repeat:no-repeat; background-position:25px center; margin:0px; text-decoration:none; white-space:nowrap; cursor:pointer; min-width:115px; height:45px; letter-spacing:-1px; border:1px solid #374a72; font-size:14px; color:#fff; font-weight:bold; border-radius:0px; padding-left:50px; padding-right:30px}

 #container .error .title{width:100%}

#footer .copy.error {height:50px; padding:30px 20px 0 20px; font-size:12px; line-height:1.2; color:#898989; text-align:center; background-color:#f9f9f9}

.container.bg.error {padding:23px 25px 7px 25px; min-height:300px; background:#f9f9f9; font-family:"Malgun Gothic","맑은고딕",dotum,"돋움",sans-serif,"Arial"}
.container.bg2.error .title {margin-bottom:17px; text-align:left}
.container.bg.error .title {margin-bottom:17px; text-align:center; margin-top:210px}
.container.bg.error .title .subject {font-size:23px; font-weight:bold; color:#374b71}
.container.bg.error .title .description {font-size:23px; font-weight:normal; margin-left:10px; color:#374b71}
.container.bg.error .title p.text {font-size:19px; font-weight:normal; margin-left:10px; color:#666; margin-top:15px; letter-spacing:-1px}