@charset "utf-8";
/****************************************************
 * filename     :login.css
 * description  :
 * date         :
****************************************************/

 #wrapper.loginMain {background-image:none; background-repeat:repeat-y; padding-left:0}
 #wrapper.loginMain #header {}
 #wrapper.loginMain #header #container {}
 #cBody.loginMain #container {position:relative; padding:23px 25px 26px 25px; width:auto; min-height:auto; height:auto}
 #cBody.loginMain .container.bg {background:#f9f9f9}
 #cBody.loginMain .container.bg2 {}
 #wrapper.loginMain .container.bg2 .title {margin-bottom:17px; text-align:left}
 #wrapper.loginMain .title {margin-bottom:17px; text-align:center}
 #wrapper.loginMain .title img {margin-bottom:26px}

 #content-wrap {position:relative; width:1120px; margin:100px auto; padding-bottom:50px; letter-spacing:0px; overflow:hidden; background-image:url(../images/login/img_logo.png); background-repeat:no-repeat; background-position:top center}
 
  #content-wrap.loginsB {width:500px}

 .login_wrap {width:auto}
 .login_wrap:after {content:"";clear:both;display:block}
 .login_wrap div.login {width:557px; vertical-align:top; float:left}
 .login_wrap div.loginB {width:500px; vertical-align:top; float:left}
 .login_wrap div.fl {width:557px; vertical-align:top; float:left}
 .login_wrap div.fr {width:560px; vertical-align:top; float:right}
 
 .login_wrapB {width:auto; padding:0; background:#fff}
 .login_wrapB:after {content:"";clear:both;display:block}
 .login_wrapB div.loginB {width:498px; vertical-align:top; float:left; border:1px solid #dedede; background-color:#fff}
 
 .input_wrap {padding:0 90px 30px 90px; margin-top:50px}
 .input_wrap .link {display:block; border-top:1px solid #e5e5e5; margin-top:50px; line-height:45px; text-align:right}
 .input_wrap .member {}
 .input_wrap .search {}
 .search_wrapL {padding:0 40px 70px 200px; margin-top:82px; border-right:1px solid #e5e5e5}
 .search_wrapR {padding:0 200px 70px 40px; margin-top:82px; border-right:none}

 .login_block {clear:both; margin-bottom:20px}
 .login_block:after {content:""; clear:both; display:block}
 .login_block ul {padding:0}
 .login_block ul li {padding-bottom:15px}
 .login_block ul li:last-child {padding-bottom:20px}
 .login_block ul li input {border:1px solid #ccc; height:35px; width:97%; color:#999; margin:0; padding:0 0 0 10px}
 .login_block .btn {text-align:right}
 .login_block button {}
 
 .login_block .link a {text-decoration:none; color:#666}
 .login_block .link a:hover {text-decoration:none; color:#666}
 .login_block .link a.member {display:inline-block; margin-right:5px}
 .login_block .link a.member:after {content:"|"; clear:both; display:inline-block !important; font-size:8px; padding-left:10px}
 .login_block .link a.search {display:inline-block}

 .login_block .btnLogin {display:inline-block; background-color:#374a72; margin:0px; text-decoration:none; white-space:nowrap; cursor:pointer; min-width:115px; height:45px; letter-spacing:-1px; border:1px solid #374a72; font-size:13px; color:#fff; font-weight:bold; border-radius:12px; padding-left:20px; padding-right:20px}
 
 .login_block .btnSearch {display:inline-block; background-color:#374a72; margin:0px; text-decoration:none; white-space:nowrap; cursor:pointer; min-width:120px; height:37px; letter-spacing:-1px; border:1px solid #374a72; font-size:13px; color:#fff; font-weight:bold; border-radius:15px; padding-left:20px; padding-right:20px; padding-bottom:8px}

 #container .logins .title{width:100%}

#container .logins label {margin-left:5px}
#container .logins input[type="checkbox"] {height:12px}
